@font-face {
    font-family: Alice;
    src: url('Alice-Regular.ttf');
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Alice;
    background-color: rgb(255, 255, 255);
  }
  
  .container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .header {
    background-color: #fff;
    height: 5rem;
    font-size: larger;
    border-bottom: 2px solid #d83198e1;
  }
  
  .header .container {
    /* justify-content: space-evenly; */
    margin-left: 5%;
    align-items: center;
    height: 100%;
  }
  
  .header .a_menu {
    /* margin-left: 80%; */
    text-decoration: none;
    color: #000000;
  }
  
  .header a .logoInicio {
    width: 60%;
  }
  
  .header .nomeInicio {
    width: 160%;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40%;
    list-style: none;
    color: #ffffff;
  }
  
  /* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 25vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu */
.show {display:block;}

/* fim menu */

.header h1 {
  margin: 0;
}

  
  .header h1 {
    margin: 0;
  }
  
  /* Login e cadastrro */

.login {
    height: 100vh;
  }
  
  .login .container {
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .titulo {
    margin-left: 5%;
  }
  
  .card {
    width: 50%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .card-cadastro {
    height: 100%;
    background-color: #3b9d1760;
  }
  
  .card-login {
    height: 45vh;
    background-color: #d831988c ;
  }
  
  .card h2 {
    margin: 0;
  }
  
  .formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario span {
    font-size: 3vh;
    font-weight: bold;
  }
  
  .formulario input {
    border: none;
    height: 5vh;
    width: 25vw;
    text-align: center;
    border-radius: 10px;
  }
  
  .campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  
  .botao {
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 3vh;
    color: #000000;
    background-color: #d8319881;
    width: 8vw;
    height: 5vh;
    align-self: center;
  }

  .botao-login {
    background-color: #3b9d17c4;
  }
  
  .loading-div {
    width: 50px;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  #div_erros_login {
    display: none
  }
  
  .alerta_erro {
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
  }


  /* contato */

.footer {
    height: 45vh;
    width: 100%;
    background-color: #cbd0d1;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .logoContato {
    display: flex;
    height: 60%;
    width: 18%;
    /* background-image: url('../img/logo/logoP-removebg.png');
    background-size: cover;
    background-position: 50% 50%; */
    position: relative;
    bottom: 0%;
    top: 40%;
    left: 5%
  }
  
  .logoContato img {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 39%;
  }
  
  .titulo1 {
    height: 10vh;
    width: 10%;
    display: flex;
    font-family: Alice;
    font-size: 5vh;
    position: relative;
    bottom: 50%;
    left: 30%;
  }
  
  .textinho{
    list-style-type: none;
    font-family: Alice;
    font-size: 3vh;
    height: 15vh;
    width: 20%;
    display: flex;
    position: relative;
    left: 27%;
    bottom: 40%;
  }
  
  .textinho ul {
    list-style-type: none;
  }
  
  .logoInsta {
    height: 7vh;
    width: 3%;
    display: flex;
    position: relative;
    left: 30%;
    bottom: 30%;
  }
  
  .titulo2 {
    height: 10vh;
    width: 10%;
    display: flex;
    font-family: Alice;
    font-size: 5vh;
    position: relative;
    bottom: 110%;
    left: 70%;
  }
  
  .textinho2 ul {
    list-style-type: none;
  }
  
  .textinho2{
    list-style-type: none;
    font-family: Alice;
    font-size: 3vh;
    height: 15vh;
    width: 20%;
    display: flex;
    position: relative;
    left: 67%;
    bottom: 103%;
  }
  
  .consideracoes {
    height: 10vh;
    width: 30%;
    display: flex;
    font-family: Alice;
    font-size: 2.5vh;
    position: relative;
    bottom: 76%;
    left: 45%;
  }