@font-face {
  font-family: Alice;
  src: url('Alice-Regular.ttf');
}

.receitas {
  width: 100%;
  font-family: Alice;
}

.titulo {
  display: flex;
  position: relative;
  width: 50%;
  height: 5rem;
  font-size: 6vh;
  align-items: center;
  left: 5%;
  margin: 2%;
}

.comidas {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 58vh;
  margin: 3%;
  /* left: 5%; */
}

.bloquinhos {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.bloco img {
  height: 25vh;
  width: 13vw;
  border-radius: 2rem;
  transition: transform 1s ease;
  padding: 1rem;
}

.bloco:hover img {
  transform: scale(1.1);
}

.bloco:active img {
  border: 0.5rem solid #3b9d179b;
}

.bloquinhos button {
  font-size: 3vh;
  /* width: 9vw; */
  border: none;
  border-radius: 1rem;
  background-color: #d83198a6;
  padding: 1.5rem;
}

.bloco {
  flex-direction: column;
  width: 20vw;
  height: 30vh;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.botao {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2%;
  transition: transform .5s ease;
}

.botao:hover button {
  transform: scale(1.05);
}

.botao:active button {
  border: 3px solid #a0136acf ;
}