@font-face {
  font-family: Alice;
  src: url('Alice-Regular.ttf');
}

/* feedback */

.feedback {
  width: 100%;
  font-family: Alice;
}

.titulo {
  display: flex;
  position: relative;
  width: 50%;
  height: 5rem;
  font-size: 5vh;
  align-items: center;
  left: 5%;
  margin: 2%;
}

.select {
  position: relative;
  left: 7%;
  height: 7vh;
  width: 90%;
}

.select select {
  height: 4vh;
  width: 16vw;
  font-family: Alice;
  font-size: 3vh;
  border-radius: 1rem;
  border: 0.15rem solid #3b9d1793;
}

.descricao {
  display: flex;
  position: relative;
  justify-content: center;
  height: 35vh;
  width: 100%;
}

.descricao textarea {
  font-family: Alice;
  src: url('Alice-Regular.ttf');
  background-color: #d831988c;
  border: none;
  height: 30vh;
  width: 50vw;
  text-align: left;
  border-radius: 1rem;
  font-style: Alice;
  font-size: 3vh;
  resize: none;
}

.descricao textarea::placeholder {
  color: #000000bd;
}

.nota {
  display: flex;
  position: relative;
  left: 7%;
  height: 7vh;
  width: 90%;
}

.nota select {
  height: 4vh;
  width: 7vw;
  font-family: Alice;
  font-size: 3vh;
  border-radius: 1rem;
  border: 0.15rem solid #3b9d1793;
}

.botao {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}

.botao button {
  height: 4vh;
  width: 7vw;
  font-family: Alice;
  font-size: 3vh;
  border-radius: 1rem;
  background-color: #d831988c ;
  border: none;
  transition: transform .5s ease;
}

.botao button:hover {
  transform: scale(1.1);
}