@font-face {
  font-family: Alice;
  src: url('Alice-Regular.ttf');
}

*,
body {
  font-family: Alice;
}

.titulo {
  display: flex;
  position: relative;
  width: 50%;
  height: 5rem;
  font-size: 5vh;
  align-items: center;
  left: 5%;
  margin: 2%;
}

/* dash */

.janela {
  display: flex;
  width: 100%;
}

.dash-right {
  height: 65vh;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
} 

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #d00080;
  font-weight: 300;
  font-size: 1.5rem;
}

.hello h3 span {
  font-weight: 800;
  text-transform: uppercase;
}

/* Avaliações */

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.graph {
  display: flex;
  position: relative;
  height: 60vh;
  width: 100%;
  justify-content: center;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

/* .display-none {
  display: none;
}

.display-flex {
  display: flex;
} */

.display-block {
  display: block;
}

canvas {
  width: 50vh;
  height: 100%;
}

/* canvas {
  width: 100% !important;
  height: 100% !important;
} */