@font-face {
  font-family: Alice;
  src: url('Alice-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Alice;
  background-color: black;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  background-color: #fff;
  height: 5rem;
  font-size: larger;
  border-bottom: 2px solid #d83198e1;
}

/* .header .container {
  justify-content: space-between;
} */

.header .container {
  /* justify-content: space-evenly; */
  margin-left: 5%;
  align-items: center;
  height: 100%;
}

.header .a_menu {
  /* margin-left: 80%; */
  text-decoration: none;
  color: #000000;
}

.header a .logoInicio {
  width: 60%;
}

.header .nomeInicio {
  width: 160%;
}

.header a {
  text-decoration: none;
  /* color: #d83198e1; */
}

/* .agora {
  font-weight: 800;
} */


.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40%;
  list-style: none;
  color: #ffffff;
}

/* menuzin */

.menu li ul {
  position: absolute;
  right: 0;
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  display: block;
  width: 210px;
  height: 50px;
}

/* fim menu */

.header h1 {
  margin: 0;
}


/* dash */

.janela {
  display: flex;
  width: 90vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: relative;
  /* top: 0; */
  left: 0;
  z-index: 999;
  height: 90vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #d83198e1;
  background-color: #212124;
}


.dash-right {
  /* display: flex; */
  width: 100%;
  justify-content: center;
  background-color: #161618;
  position: relative;
  /* top: 0; */
  left: 0%;
  /* right: 0%; */
} 

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #d83198e1;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #3b9d17cb;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}